amqp
arrow
asgiref
backports.entry-points-selectable
billiard
bleach
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
defusedxml
distlib
Django
django-allauth
django-ckeditor
django-cleanup
django-crispy-forms
django-environ
django-formtools
django-js-asset
django-local-settings
django-settings
django-summernote
django-widget-tweaks
django_debug_toolbar
filelock
greenlet
idna==
kombu==
oauthlib
Pillow
platformdirs
plyer
prompt-toolkit
#psycopg2
pycparser
PyJWT
python-dateutil
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
sentry-sdk
six
sqlparse
urllib3
vine
virtualenv
wcwidth
webencodings
